form {
  width: 100%;
  padding: 2rem 0;
}

input[type="text"].form-item,
textarea.form-item {
  min-width: 100%;
  max-width: 100%;
  border: none;
  margin-bottom: 0.8rem;
}

input[type="text"].form-item {
  font-size: 2rem;
  font-weight: 700;
}

input[type="text"].form-item:focus-within {
  border: none;
}

textarea {
  min-height: 20rem;
  max-height: 20rem;
  resize: none;
  overflow-x: none;
}

form .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}
